<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Quziapp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'okuu:new_test' %}">Test add</a>
        </li> <li class="nav-item">
          <a class="nav-link" href="{% url 'okuu:list_test'  %}">List Test</a>
        </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="23" height="20" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                      <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                    </svg>
          </a>
           <ul class="dropdown-menu dropdown-menu-dark">
                       {% if request.user.is_authenticated %}
                    <li><a class="dropdown-item" href="{% url 'users:profile' request.user  %}"><i class="bi bi-person"></i> {{request.user.username}}</a></li>
                      <li><hr class="dropdown-divider bg-light"></li>
                 
                     
                    <li><a class="dropdown-item" href="{% url 'users:logout'%}"><i class="bi bi-box-arrow-right"></i> чыгуу</a></li>
                      {%else %}
                      <li><p class="dropdown-item" ><i class="bi bi-box-arrow-right"></i> сиз катоодон откон эмесиз толук иштеши учун каталыныз</p></li>
                      {%endif%}
                  </ul>
        </li>
      </ul>
       
      <form class="d-flex" role="search">
         <input class="form-control me-3 mr-3" name="q" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">издоо</button>
      </form>
    </div>
  </div>
</nav>